<% if(typeof signupMessage != 'undefined' && signupMessage.length > 0) { %>
  <div class="alert alert-danger alert-dismissible fade show" role="alert">
    <%= signupMessage %>
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
<% } %>

<% if(typeof loginMessage != 'undefined' && loginMessage.length > 0) { %>
  <div class="alert alert-danger alert-dismissible fade show" role="alert">
    <%= loginMessage %>
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
<% } %>
